.header-bar {
  display: flex;
  flex-direction: row;
  margin-top: 47px;
  margin-right: 67px;
  justify-content: flex-end;
}

#search {
  width: 155px;
  height: 30px;
  display: flex;
  align-items: center;
}

.search-icon {
  width: 17.42px;
  height: 17.42px;
}

.search-icon-container {
  border: 1px solid black;
  border-radius: 22px 0 0 22px;
  height: 30px;
  display: flex;
  align-items: center;
  padding-left: 10.5px;
  border-right: 0;
}

.search-field {
  border: 1px solid black;
  margin: 0;
  padding: 0;
  border-left: 0px;
  height: 30px;
  border-radius: 0 22px 22px 0;
  padding-left: 20px;
  width: 106px;
}

.instagram-icon {
  margin-left: 58px;
}
.facebook-icon {
  margin-left: 13px;
}

body > header > div > div.instagram-icon > img {
  width: 30px;
  height: 30px;
}
body > header > div > div.facebook-icon > img {
  width: 30px;
  height: 30px;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: auto;
  margin-left: 88px;
  margin-right: 88px;
}

body > header > nav > div:nth-child(1) > img {
  width: 287px;
  height: 215px;
}

body > header > nav > div > a {
  font-size: 25px;
  color: #722828;
  text-decoration: none;
  font-weight: bold;
}
body > header > nav > div > a:visited {
  font-size: 25px;
  color: #722828;
  text-decoration: none;
  font-weight: bold;
}

.banner {
  display: flex;
  align-items: center;
  justify-content: center;
}

body > div.banner > img {
  width: 100%;
  height: auto;
}

div > h1 {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 180px;
  margin: 0;
  color: #722828;
  font-size: 37px;
}

.newarrival-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

body > div.newarrival-container > div > img {
  width: 354px;
  height: 350px;
}

body > div.newarrival-container > div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

body > div.newarrival-container > div > p > a {
  font-size: 25px;
  color: #722828;
  text-decoration: none;
}

body > div.newarrival-container > div > p {
  margin: 0;
  padding-top: 11px;
}

body > div.newarrival-container > div > p:nth-child(3) {
  padding: 0;
  font-size: 25px;
  color: #722828;
  text-decoration: none;
}

.homenotebook-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

body > div.homenotebook-container > div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

body > div.homenotebook-container > div > img {
  width: 354px;
  height: 350px;
}
body > div.homenotebook-container > div > p > a {
  font-size: 25px;
  color: #722828;
  text-decoration: none;
}

body > div.homenotebook-container > div > p {
  margin: 0;
  padding-top: 11px;
}
body > div.homenotebook-container > div > p:nth-child(3) {
  padding: 0;
  font-size: 25px;
  color: #722828;
  text-decoration: none;
}

.homeerasers-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

body > div.homeerasers-container > div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

body > div.homeerasers-container > div > img {
  width: 354px;
  height: 350px;
}
body > div.homeerasers-container > div > p > a {
  font-size: 25px;
  color: #722828;
  text-decoration: none;
}

body > div.homeerasers-container > div > p {
  margin: 0;
  padding-top: 11px;
}
body > div.homeerasers-container > div > p:nth-child(3) {
  padding: 0;
  font-size: 25px;
  color: #722828;
  text-decoration: none;
}

footer {
  height: 276;
  margin-top: 230px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  border: 1px black solid;
  padding-bottom: 36px;
}

body > footer > h4 {
  font-size: 25px;
  color: #722828;
  font-weight: bold;
  margin-top: 59px;
}

body > footer > address > div.email > div > img {
  width: 30px;
  height: 21px;
  margin-right: 5px;
}

body > footer > address > div.address > div > img {
  margin-right: 5px;
  width: 30px;
  height: 21px;
}

.row {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
}

body > footer > address > div.address > div > p > a,
body > footer > address > div.address > div > p,
body > footer > address > div.email > div > p,
body > footer > address > div.email > div > p > a {
  color: #722828;
  font-size: 20px;
  font-style: italic;
  text-decoration: none;
  margin: 0;
}

body > footer > h5 {
  color: #722828;
  font-size: 20px;
  font-style: italic;
  font-weight: bold;
  text-decoration: none;
  margin: 0;
}
